<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://artifactory.infotecs.ru/artifactory/api/nuget/nugetorg" />
    <add key="team" value="https://msk-tfs-t.infotecs-nt/tfs/SrvNccCollection/_packaging/team/nuget/v3/index.json" />
    <add key="infotecs" value="https://msk-tfs-t.infotecs-nt/tfs/SrvNccCollection/_packaging/infotecs/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <team>
      <add key="Username" value="%TFS_SERVER_LOGIN%" />
      <add key="ClearTextPassword" value="%pmm_pat%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </team>
    <infotecs>
      <add key="Username" value="%TFS_SERVER_LOGIN%" />
      <add key="ClearTextPassword" value="%pmm_pat%" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </infotecs>
    <nuget.org>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_TOKEN%" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>
