registry=https://artifactory.infotecs.ru/artifactory/api/npm/npm-registry/
@mngmob:registry=https://artifactory.infotecs.ru/artifactory/api/npm/npm-tdc-local/

fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=5000

//artifactory.infotecs.ru/artifactory/api/npm/npm-tdc-local/:always-auth=true
//artifactory.infotecs.ru/artifactory/api/npm/npm-tdc-local/:username=${ARTIFACTORY_USERNAME}
//artifactory.infotecs.ru/artifactory/api/npm/npm-tdc-local/:_authToken=${ARTIFACTORY_TOKEN}
